.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Inter', sans-serif;
    background-color: #090b1a;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    background-color: #1c1a38;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 375px; 
    margin: 2em; 
    border-radius: 10px; 
    overflow: hidden; 
    flex-direction: column;
}

h1{
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 1.5em;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.paragraph
{
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
}

.companies-description, .queries-description, .templates-description {
    color: hsl(0, 0%, 100%);
}

.companies-number, .queries-number, .templates-number {
    color: hsla(0, 0%, 100%, 0.6);
}

.image-wrapper {
    position: relative; /* Necessario per posizionare il filtro */
    line-height: 0; /* Rimuove spazi bianchi extra sotto l'immagine */
}

.image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: hsl(277, 64%, 61%); 
    opacity: 0.9; 
    mix-blend-mode: multiply; 
}

.image-wrapper img {
    width: 100%;
    display: block;
}

footer.attribution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* --- Media Query for Mobile --- */
@media (max-width: 768px) {
    grid-template-columns: 1fr;
    max-width: 375px; 
    margin: 2em;
  }

  .text_column {
    order: 2;
    text-align: center; 
  }

  .img_column {
    order: 1; 
    min-height: 250px;  
  }

  .data_container {
    flex-direction: column;
    gap: 1.5rem; 
    align-items: center; 
  }
}

    

    